@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

div.slideArea {
    display: flex;
    justify-content: center;
}

div.slideArea>div#caroussel {
    position: relative;
    
}

img {
    object-fit: cover;
    width: 640px;
    height: 360px;
}

div.slideArea>div#caroussel>button#prev {
    position: absolute;
    top: 50%;
    font-size: xx-large;
    color: white;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

div.slideArea>div#caroussel>button#next {
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: xx-large;
    color: white;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

div.slideArea>div#caroussel>div#containerIndicators {
    position: absolute;
    bottom: 5%;
    left: 50%;

    transform: translate(-50%);
}